<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 开启延时加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 关闭全加载 -->
		<setting name="aggressiveLazyLoading" value="false"/>
		<!-- 开启驼峰命名法支持 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="com.beater.ssm.bean"/>
	</typeAliases>
	
	<plugins>
	    <!-- com.github.pagehelper为PageHelper类所在包名 -->
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">
	    	<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
</configuration>